.vs/
.vscode/
bin/
obj/

*.userprefs
*.unityproj
*.DS_Store
*.vsconfig

/pids.txt

# proto
Common/Summer/Proto/**/ProtoClass

# data
Common/Summer/StaticData/Data/
Common/Summer/StaticData/DataDefine/